*{
    box-shadow: border-box;
}

@font-face {
    font-family: "Righteous";
    src:url('font-Righteous/Righteous-Regular.ttf');
}

html{
    font-family:  "helvetica neue", sans-serif;

}

/* Main Container */
.container{
    display: grid;
    width: 100%; 
    grid-template-columns: 15% auto 15%;
    grid-template-areas: 'header header header'
    'nav nav nav'
    'main main main '
    'footer footer footer'
}



body{
    min-height: 100vh;

}

main,menu,aside,nav,header,footer{
   font-size: 20px;
}

/* Image Of the Home Page Background */
img{
    
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
/* Header */
header{
    grid-area: header;
    display: grid;
    padding-bottom: 10px;

}
/* Navigation Bar */
nav{
    grid-area: nav;
    /* background-color:  darkgrey; */
    display: grid;
    margin-bottom: 2vh;
}
/* Main Bar */
main{
    grid-area: main;
    display: grid;
    
 
}
main span{
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2vw;
    

}

footer{
    grid-area: footer;
    display: grid;
    background-image: linear-gradient(#E4AD74,#DD7864);

    
}

@media screen and (max-width: 600px)
{
   
    aside{
        display: none;
    }
    
}
/* for medium screen */
@media screen and (min-width: 600px)
{
    aside{
        display: none;
    }
    

}
/* for large device*/
@media screen and (min-width: 768px)
{
    aside{
        display: inline-block;
    }

}   
.row {
   
  display: flex;
  align-items: center;
  justify-content: center;

}

h1{
    font-size: 2.5vw;
}
/* Create three equal columns that sits next to each other */
.column {
  
  flex: 33.33%;
  padding: 10px;
}
/* .column img:hover{
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
} */

.main img
{
        margin: auto ;
        width:100%;
    }






    
.menu a{
    display: inline-flex;
    margin-left: 2%;
    clear: right;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    line-height: 1.5vh;
   
}
label{
 
    font-size: 26px;
    line-height: 1.5vh;
    display: none;
    width:26px;
    float:right;

}
.nav{

    margin-top: 4vh;
    /* border: solid 1px; */
    border-bottom: 1px solid #EAEAEB;
    text-align: center;
    line-height: 1.5vh;
    height: 5vh;

     }
     #toggle{
        display:none;
    }
.search-container {
    display: inline-flex;
    float: right;
   
}

.search-container input[type=text]{
    border: 1px solid #ccc;
    font-size: 2vh;
   border-radius: 5px;
   padding:6px;
}
#serch_icon{
font-size:20px;
}


.main
{
    position: relative;
    margin-top: 10px;
    
}
header b span{
    color :red;
}
.footer
{
height: 10vh;
margin-top: 10px;
text-align: center ;
color: black;

background-color: 		#D8BFD8;
}

.header
{
text-align: center;
font-family: "Righteous";
font-size: 2.5vw;
width: 100%;
height: 56px;
}

.header img{

width: 6%;

position: absolute;
margin-left: 1%;
margin-top: 1%;
}



.header b{
    margin-top: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
text-align: center;
color:whitesmoke;

  }

.btn-details{
  
    position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
text-align: center;
padding:0.5vw;
background-color:green;
font-size: 1.4vw
}
.btn-details a{
    color: white;

   text-decoration: none;
}


.btn-details:hover{
    position: absolute;
    background-image: linear-gradient(green, white, orange);
    opacity: 0.9;
    padding: 10px;
   

 
}
.btn-details:hover a{
    color:black; 

}

.menu a:hover{
 background-image: linear-gradient(grey, white) ;
 opacity: 0.9;
 padding: 1%;


}
a.active {
   /* background-color: green;
    color: white;*/
    background-image: linear-gradient(grey, white) ;
    padding: 1%;
}



/*-----------------------------------------*/
.social-img{
    position:absolute;
    left:40%;
  width: 59vw;
  text-align: right;
}


.img1,.img2,.img3,.img4{

height: 3vw;
width: 3vw;
margin: 0.5%;

}

.footer h1{

    text-align: center;
    font-size: 20px;

}
/*css animation for learn more link images  */
@keyframes imagesAni
{
     from {border-radius: 10%;}
  to {border-radius: 50%;}
}



.flip-card {

    background-color: transparent;
    width: 100%;
    height:50vh;
    perspective: 1000px;

  }

  
  .flip-card-inner {
    position: relative;
  
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }     
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid black;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    width: 100%;
    height: 325px;
   
    color: black;
    font-weight: bold;
    transform: rotateY(180deg);
  }


 
/* Details of the Image */
.flip-card-back div:nth-child(1)
{
  color: white;
  padding: 1vw;
  background-color: black;
  margin-bottom: 10%;
  /*text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;*/
}
.flip-card-back div:nth-child(2)
{
    margin-bottom: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.footer p{
    display: inline-block;
    font-size: 1vw;
}


  /* slider */

  #slider-New {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 400px;
     margin:auto;
  background: transparent;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider-New figure {
  width:298%;
  height: 99%;
	position: relative;
    animation: 6s slider ;
animation-timing-function: ease;
animation-iteration-count: infinite;


}

#slider-New figure img {
	width:32.19%;
	height :98%;
	
}

/* video */
.visual-content{
position: relative;   
 margin-bottom: 2%;
margin: auto;
margin-top:1%;
width: 600px;

}

.popular-block{
position: relative;   
 margin-bottom: 2%;
margin: auto;
margin-top:1%;
text-align: center;
color:#09041f;
font-size: 1vw;
width: 95vw;
align-items: center;

}






/* DropDown css */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 44%;
  
  }

  .dropbtn:hover+.dropdown-content {
    display: block;
  }
  .dropdown-content:hover  {
    display: block;
  }

  .dropdown-content a:hover {
      background-color: #f1f1f1;
      margin-top: 1%;
padding: 3%;
color: #B22222;
}
/* **************** */

/* ScrollBar css for browser */

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #B22222;  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#888;
  }
  /* ******************************** */

  /* Heritage */

  .exprins-main img{
      width: 70%;
   opacity: 0.8;
 
    margin-left: 15%;
     -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
     box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); 
  }
  .column h3{
    
    text-align: center;
  }

  .description{
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); 
    width: 65%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 15%;
    text-align: justify;
    font-size: 1vw;
  }

.main{
border-top:2px solid darkblue"
}



/* form css */
.myForm {
  font-size: 16px;

  width :63%;
  border-radius: 3px;
  padding: 0.5em;
  margin: auto;
  height: 99%;
  border: 1px solid #888;
  align-content: center;
}
.form_row {
  display: inline-block;
  margin-left:15%;
  width:100% 
}
.form_column {
height:100% ;
display: inline-block;
  padding: 10px;
  padding: 1em;

  
}

.input-group > label {
  margin-right: 1em; 
  padding: .5em 0;
  display: inline-block;
  font-size:0.5em;
}
.myForm input,
.myForm select {

  padding: .5em;
  margin-bottom: 1em;
}
.myForm input[type="checkbox"],
.myForm input[type="radio"]
{
 
  padding: .5em;
  margin-bottom: 1em;
}
.myForm button {
    margin-top: 1em;
    margin-left: 10em;
 padding: 1em; 
  background: gray;
  color: white;
  border: 0;
}
.myForm legend{
  text-align: center;   
  background-color:gainsboro;
  padding: 14px 24px;
   border: 0; 
   margin-bottom: 1.2em;
}

.myForm :required{
  border: 3px solid blue;
}
.myForm input[type="text"]:valid, input[type="email"]:valid, input[type="password"]:valid{
  background-color: lightgreen;
}
.myForm input[type="text"]:invalid, input[type="email"]:invalid, input[type="password"]:invalid{
  border: dotted red;
}

/* css for contact us form */


/* Description Container*/
.description-container
{
    width: 100%;
}

.description-container  p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#more-details{
color: white;
    text-align: center;
    padding:0.5vw;
    background-color:green;
    font-size: 1vw;
    border-radius: 5px;
    margin-left:45%;
}

#details{
    display: none;
}



/* Media Query for Tables: */
@media only screen and (max-width: 992px) {
  .btn-details{
    top:23%;
  
}
 
.visual-content video{
  width: 400px;
  margin-left:15%;
  }
  .popular-block p:nth-last-of-type(1){
    font-size: 1.5vw;
  }

  .popular-block p {

   
   
  overflow: auto;
}
.search-container{
  display: block;
  position:absolute;
  left:35%;
 margin-top: 1%;
}
#slider-New{
  height: 250px;;
}
.nav{
  margin-bottom: 5%;
}
.column{
  margin-top: 5%;
display:block;
width: 80%;

  padding: 10px;
  margin: auto;
}

.row{
  display:block;
}
.description-container  p{
  font-size: 2.5vw;
}

.flip-card-inner,.flip-card-front,.flip-card-back{
  width: 100%;
  height: 100%;
}


.flip-card
{
    height:35vh;
    width: 60%;
    margin: auto;
}
.flip-card-back div,a{
  font-size: 2vw;
}

}


/* Media Query  for small devices */
@media only screen and (max-width:600px){
    label{
        display: block;
        cursor: pointer;
    }
    
    .menu{
        text-align: center;
        width:90%;
        display: none;
        height:30vw;
        z-index: 1;
        background-color: white;
        color: #09041f;
        margin: auto;
    }
    .menu a{
        display: block;
        border-bottom: 2px solid  #EAEAEB;
        margin-bottom: 2vh;
        font-size: 1vh;
     
    }
   #toggle:checked+.menu
    {
    display: block;
    }
   
    #slider-New{
        width:40%;
        height: 150px;
        margin-left: 15%;
    }

  .main img{
   
    width:75%;
    margin-left: 1%;
    }
    .btn-details{
        top:20%;
        left: 50%;
    }
    .centered{
        top: 20%;
        left: 50%;
    }
    .popular-block p {
        width:370px;
        font-size: 2.5vw; 
      overflow: auto;
    }
    .popular-block h1{
        text-align: center;
      
    }

    .visual-content video{
    width: 400px;
    margin-left: 5%;
    }
   .search-container{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-top:-2%;
  overflow: hidden;
   }
    body{
        height: 100vh;
    }
    .social-img
    {
        left:2%;
        width: 18vw;
    }
   
    .flip-card-inner,.flip-card-front,.flip-card-back{
      width: 100%;
      height: 100%;
    }
   

    .flip-card
    {
        height:20vh;
        width: 50%;
        margin: auto;
    }
    .flip-card-back div,a{
      font-size: 2vw;
    }
  
    .column{
      margin-top: 5%;
    display:block;
    width: 80%;

      padding: 10px;
      margin: auto;
    }
  
    .row{
      display:block;
    }

  .popular-block p:nth-last-of-type(1){
    text-align: center;
    margin-left: 10%;
    font-size: 2.5vw;
  }
  .dropdown-content {
top :26%;
  
  }
  .main>.popular-block p{
    margin-left: 0%;
    text-align: justify;
  }

  .main>.popular-block h1{
    margin-left: -30%;
  }
  .footer p{
font-size: 2vw;
  }
  .description-container  p{
    font-size: 2.5vw;
  }
}
